html
    head
        style
            include style.css
    body
        div
            | HELLO THERE
            br
            | HOW ARE YOU DOING?
            p This is mr P
        div
            block content
        div.footer
            | Best regards!
            br
            a(href=frontendURL) Here we go!